body {
  background-color: #F0F0F0;
}

.nate-pic {
    float: left;
    max-width: 50px;
    height: 50px;
    border-radius: 48%;
    box-shadow: 3px -3px 10px 5px gray;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    background-color: #F0F0F0;
    font-size: 30px;
  }
  
  /* Profile Picture */
  .about-me-image img {
    max-width: 600px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  /* About Me Content */
  .about-me-content {
    max-width: 750px;
    margin: 0 auto;
  }
  
  /* Heading */
  .about-me h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    color: lightblue;
  }
  
  /* Paragraphs */
  .about-me p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 400;
  }

  div p  a{
    color: lightblue;
  }

  /* Media Query for Smaller Screens */
@media (max-width: 768px) {
    .about-me {
      padding: 10px;
    }
  
    .about-me-image img {
      max-width: 100px; 
    }
  
    .about-me-content {
      max-width: 90%; 
    }
  
    .about-me h2 {
      font-size: 45px;
    }
  
    .about-me p {
      font-size: 18px; 
    }
  }
  
  
  
  
  
  